.all__users{
    padding: 40px 10%;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button,
select,
input{
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #E083F0;
    color: #2B8FFE;
    font-size: 18px;
    background: transparent;
}
